
.nav-dropdown {
    background: transparent;
    border: 0;
}

.nav-dropdown > li > a:hover {
    background: rgba(0, 0, 0, 0.36);
}

.btn-xs {
    padding: 1px 5px !important;
}

.btn-link {
    color: white !important;
}

.nav-dropdown > li > .btn-link:hover {
    text-decoration: none !important;
    color: rgba(255,255,255,.8) !important;
    background: rgba(0, 0, 0, 0.36);
}
