@model BlogApp.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete cateogry</h2>

<div>Are you sure you want to delete <strong> @Html.DisplayFor(model => model.category.CategoryName) </strong> cateogry?</div>
<br/>

<div class="panel panel-danger" @Html.Raw(Model.delete? "hidden='hidden'" : "")>
    <div class="panel-heading text-danger text-center">
        You can`t delete this category because there are post for this category!
    </div>
</div>
<div>      
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger col-md-offset-2 col-md-8" @Html.Raw(Model.delete?"":"disabled='disabled'") > 
                <i class="fa fa-fw fa-trash-o"></i>
                Delete category
            </button>

        </div>
    </form>
</div>
