@model BlogApp.Models.Category

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Category details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            Posts rule
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostRule)
        </dd>
    </dl>
</div>
<div class="col-md-offset-2 col-md-8">
    <a class="btn btn-default btn-block" asp-action="Edit" asp-route-id="@Model.ID">Edit category</a> 
</div>
