@model BlogApp.ViewModels.UserManagementAddRoleViewModel


<div class="container-fluid">
    <div class="row">
        <div asp-validation-summary="All"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>Make user "@Model.UserName" Administrator</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form asp-controller="UserManagement" asp-action="AddRole" method="post">
                <input asp-for="UserId" type="hidden" />
                <!--<select asp-for="NewRole" asp-items="Model.ListOfRoles"></select>-assinged to NewRole prop-->
                <button type="submit" class="btn btn-success btn-sm">Yes</button>
            </form>
        </div>
    </div>
</div>