@using Microsoft.AspNetCore.Identity;
@using BlogApp.Models;
@model BlogApp.ViewModels.UserManagementIndexViewModel
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "User Managment Page";
}

<div class="container-fluid">

    <table class="table">
        <thead>
            <tr>
                <td><strong>Username</strong></td>
                <td><strong>Roles</strong></td>
                <td><strong>Options</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {

                <tr>
                    <td>@user.UserName</td>
                    <td>@(string.Join(",",await userManager.GetRolesAsync(user)))</td>
                    <td><a asp-controller="UserManagement" 
                           asp-action="AddRole" 
                           asp-route-id="@user.Id"
                           class="btn btn-xs btn-success">
                        Make user Admin</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>